<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="au.com.studyunsw.dao.CourseBasicInfoDAO">
	<insert id="insertNewCourse" parameterType="Course">
		insert into Course
		values (#{courseCode}, #{courseName}, #{courseAuthority}, #{semester},
		#{teachingPeriod}, #{lecturerName}, #{description}, date(now())))
	</insert>

	<update id="updateCourse" parameterType="Course">
		update Course
		set
		courseCode=#{courseCode}, courseName=#{courseName},
		courseAuthority=#{courseAuthority}, semester=#{semester},
		teachingPeriod=#{teachingPeriod},
		lecturerName=#{lecturerName},
		description=#{description}, createAt=#{createAt}
		where
		courseCode=#{courseCode}
	</update>

	<delete id="removeCourse" parameterType="Course">
		delete from Course where
		courseCode=#{courseCode}
	</delete>

	<select id="getAllCourses" resultType="Course">
		select * from Course
	</select>

	<select id="getCourseByCourseCode" parameterType="java.lang.String"
		resultType="Course">
		select * from
		Course where courseCode=#{courseCode}
	</select>

	<select id="getCoursesByAuthority" parameterType="java.lang.String"
		resultType="Course">
		select * from Course where
		courseAuthority=#{courseAuthority}
	</select>

	<select id="getCourseByName" parameterType="java.lang.String"
		resultType="Course">
		select * from Course where courseName=#{courseName}
	</select>

	<select id="getSemesterCourses" parameterType="int" resultType="Course">
		select * from Course where semester=#{semester}
	</select>

	<select id="getCoursesByLecturer" parameterType="java.lang.String"
		resultType="Course">
		select * from Course where lecturerName=#{lecturerName}
	</select>
</mapper>